.updateform,
.joinform {
    position: sticky;
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrap_join,
.wrap_update {
    box-sizing: border-box;
    padding: 50px 100px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.joinform .field,
.updateform .field {
    width: 100%;
    margin: 5px 0 5px 0;
    display: flex;
    flex-direction: column;
}

.joinform .btns,
.updateform .btns {
    display: flex;
    justify-content: center;
}

.joinform .field textarea,
.updateform .field textarea,
.joinform .field input,
.updateform .field input {
    height: 35px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}

.updateform .field textarea::placeholder,
.joinform .field textarea::placeholder,
.updateform .field input::placeholder,
.joinform .field input::placeholder {
    color: rgb(165, 156, 156);
}

updateform .field textarea:focus,
.joinform .field textarea:focus {
    outline: none;
}

.joinform .field label,
.updateform .field label {
    flex: 1.5;
}

.joinform button,
.updateform button {
    border: 1px solid transparent;
    background-color: #DDDDDD;
    cursor: pointer;
    border-radius: 5px;
    color: rgb(105, 96, 96);
    height: 35px;
}

.joinform .uploadbutton,
.updateform .uploadbutton {
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.joinform .field .zip,
.updateform .field .zip {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center
}

.joinform .field .zip button,
.updateform .field .zip button {
    margin-left: 5px;
    height: 35px;
    width: 60px;
}


.joinbutton button,
.updatebutton button {
    margin: 5px;
}

.joinform .logo,
.updateform .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.joinform button:hover,
.updateform button:hover {
    transform: scale(0.95);
}