.wrap_message {
    width: 100%;
    height: calc(100vh - 10px);
    padding: 5px 0;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid #DDDDDD;
    display: flex;
    flex-direction: row;
    transition: all 1s;
}

.wrap_message .background {
    width: 100%;
    height: 100%;
    padding-left: 10px;
    box-sizing: border-box;
    background-color: white;
}

.wrap_message .wrap_friend {
    flex: 2;
    height: 100%;

    box-sizing: border-box;
    border-right: 1px solid #DDDDDD;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    background-color: white;
    transition: all 1s;
}

.wrap_message .wrap_friend::-webkit-scrollbar {
    width: 10px;
}

.wrap_message .wrap_friend::-webkit-scrollbar-track {
    background-color: white;
}

.wrap_message .wrap_friend::-webkit-scrollbar-thumb {
    background-color: inherit;
    border-radius: 5px;
}

.wrap_message .wrap_friend:hover {
    background-color: #DDDDDD;
}

.wrap_message .wrap_friend .head_menu {
    width: 100%;
    border-bottom: 1px solid #DDDDDD;

    display: flex;

}

.wrap_message .wrap_friend .head_menu .create {
    display: flex;
    align-items: center;
    transition: all 0.1s;
}

.wrap_message .wrap_friend .head_menu .create:hover {
    cursor: pointer;
    transform: scale(0.95);
}

.wrap_message .wrap_friend .head_menu .create img {
    width: 50px;
    height: 50px;
    padding: 10px 0;
}

.wrap_message .wrap_friend .head_menu .create .description {
    font-weight: bold;
    font-size: 1rem;
}

.wrap_message .row_friend {
    
    /* width: calc(100% - 10px); */
    width: 100%;
    padding: 10px;
    /* margin-bottom: 5px; */
    /* border-bottom: 1px solid #DDDDDD; */
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background-color: white;

}


.wrap_message .group{
    border-bottom: 1px solid #DDDDDD;
    display: flex;
    align-items: center;
}
.wrap_message .wrap_friend .delete {
    margin-left: auto;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    opacity: 0.2;
    transition: all 0.1s;
    left: 0;
    /* border: 1px solid black; */
}

.wrap_message .wrap_friend .delete:hover {
    transform: scale(0.95);
    cursor: pointer;
    opacity: 1;
}

.wrap_message .wrap_friend .delete img {
    width: 25px;
    height: 25px;
}
.wrap_message .row_friend .box_icon{
    position: relative;
    width: 80px;
    height: 40px;
    overflow: hidden;
    /* top: 0;
    left: 0; */
    /* border: 1px solid black; */
}
.wrap_message .row_member{
    display: flex;
}

.wrap_message .member_profileimg {

    flex: 1;
    width: 100%;
}



.wrap_message .box_icon .profileimg img{
    width: 35px;
    height: 35px;
    border: 2.5px solid white;
    border-radius: 50px;
    object-fit: cover;
    aspect-ratio: 1;
}
.wrap_message .row_friend .profileimg img:hover{
    cursor: pointer;
}
.wrap_message .row_friend .nickname{
    margin-left: 5px;
    font-weight: bold;
}
.wrap_message .row_friend .nickname:hover{
    cursor: pointer;
}

.wrap_message .friend_nickname {
    margin-left: 5px;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.wrap_message .friend_nickname .delete_button {
    display: flex;

}

.wrap_message .btn {
    cursor: pointer;

}


.wrap_message .friend_nickname .box_nickname {
    flex: 1;
    display: flex;
    align-items: center;
}

.wrap_message .friend_nickname .box_nickname .align {
    display: flex;
    align-items: center;
}

.wrap_message .row_friend .member_nickname {
    display: flex;

}



.wrap_message .wrap_chat {
    flex: 3;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;

}

.wrap_message .wrap_chat .head_chat {
    position: relative;
    /* padding: 10px; */
    margin: 0 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #DDDDDD;
    display: flex;
    align-items: center;
}

.wrap_message .wrap_chat .head_chat .head {
    display: flex;
    align-items: center;
}

.wrap_message .wrap_chat .head_chat .btn_back {
    width: 35px;
    height: 35px;
    padding: 0;
    border: 1px solid transparent;
    background-color: transparent;
    transition: all 0.1s;
}

.wrap_message .wrap_chat .head_chat .btn_back:hover {
    transform: scale(0.95);
    cursor: pointer;
}

.wrap_message .wrap_chat .head_chat .btn_back img {
    width: 100%;
    height: 100%;
}

.wrap_message .wrap_chat .head_chat .btn_menu {
    width: 35px;
    height: 35px;
    padding: 0;
    border: 1px solid transparent;
    background-color: transparent;
    margin-left: auto;
    transition: all 0.1s;
}

.wrap_message .wrap_chat .head_chat .btn_menu:hover {
    transform: scale(0.95);
    cursor: pointer;
}

.wrap_message .wrap_chat .head_chat .btn_menu img {
    width: 100%;
    height: 100%;
}

.wrap_message .wrap_chat .head_chat .menu {
    position: absolute;
    top: 50px;
    right: 0;
    border: 1px solid #DDDDDD;
    border-radius: 5px;

    display: flex;
    flex-direction: column;

    background-color: white;
}

.wrap_message .wrap_chat .head_chat .menu .option {
    color: black;
    padding: 5px 20px;
    transition: all 0.1s;
}

.wrap_message .wrap_chat .head_chat .menu .option:hover {
    cursor: pointer;
    color: #BBBBBB;
}

.wrap_message .wrap_chat .wrap_content {
    flex: 1;
    width: 100%;
    overflow-y: scroll;
    box-sizing: border-box;
    transition: all 1s;
}

.wrap_message .wrap_chat .wrap_content .background {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: white;
}

.wrap_message .wrap_chat .wrap_content:hover {
    background-color: #DDDDDD;
}

.wrap_message .wrap_chat .wrap_content::-webkit-scrollbar {
    width: 10px;
}

.wrap_message .wrap_chat .wrap_content::-webkit-scrollbar-track {
    background-color: white;
}

.wrap_message .wrap_chat .wrap_content::-webkit-scrollbar-thumb {
    background-color: inherit;
    border-radius: 5px;
}

.wrap_message .wrap_chat .content_box {
    overflow: hidden;
    min-height: 100%;
    flex-direction: column;
    background-color: white;
    padding-left: 10px;
    padding-top: 10px;
    box-sizing: border-box;
}

.wrap_message .wrap_chat .content_box .row_content {
    width: 100%;
    margin-bottom: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.wrap_message .wrap_chat .content_box .row_content .sender {
    font-size: 0.8rem;
    /* font-style: italic; */
    font-weight: bold;
    padding: 5px 0;
}

.wrap_message .wrap_chat .content_box .row_content .friend_icon {
    width: 35px;
    height: 35px;
    margin-right: 5px;
}

.wrap_message .wrap_chat .content_box .row_content .friend_icon img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 50%;

}

.wrap_message .wrap_chat .content_box .row_content .row_content_box {
    display: flex;

}

.wrap_message .wrap_chat .content_box .row_content .recieved {
    justify-content: flex-start;
}

.wrap_message .wrap_chat .content_box .row_content .recieved .content {
    background-color: #EEEEEE;
}

.wrap_message .wrap_chat .content_box .row_content .sent {
    justify-content: flex-end;
}

.wrap_message .wrap_chat .content_box .row_content .sent .content {
    background-color: #BBBBBB;
}

/* 
    이전 css    
.messagebox .message .received{
    margin-top: 20px;
    margin-left: 10px;
    width: 70%;
    height: 10%;
    border: 1px solid #8d8a8a;
    border-radius: 5px;

} */

.wrap_message .wrap_chat .content_box .row_content .content {
    max-width: 70%;
    padding: 5px;
    border-radius: 5px;
    word-break: break-all;
    border: 1px solid transparent;
}

.wrap_message .wrap_chat .input_box {
    width: 100%;
    margin: 5px 0;
    padding: 0 10px;
    padding-top: 10px;
    position: relative;
    border-top: 1px solid #DDDDDD;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.wrap_chat .emoji {
    position: absolute;
    bottom: 110%;
    left: 0px;
}

.wrap_message .wrap_chat .input_box .activeBtn {
    display: none;
}

.wrap_message .wrap_chat .input_box:focus-within>.activeBtn {
    display: flex;
}

.wrap_message .wrap_chat .input_box .input {
    flex: 1;
    min-height: 20px;
    font-size: 1rem;
    padding: 5px;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    word-break: break-all;
}

.wrap_message .wrap_chat .input_box .input:hover {
    cursor: text;
}

.wrap_message .wrap_chat .input_box .input:empty::before {
    content: attr(placeholder);
    color: #BBBBBB;
}

.wrap_message .wrap_chat .input_box .input_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.message_orverlay_modal {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);

    display: flex;
    align-items: center;
}

.message_modal {
    position: relative;
    width: 300px;
    height: 500px;
    padding: 5px;
    margin: auto;
    border: 1px solid #DDDDDD;
    background-color: white;
}

.message_modal .close {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.wrap_modal .modal_group_button {
    display: flex;
    width: 100%;
}

.message_modal .group_confirm {
    width: 40px;
    height: 40px;
    margin-left: auto;
    cursor: pointer;
}

.message_modal .following_user {
    position: relative;
    box-sizing: border-box;
    border: 2px solid transparent;
}

.message_modal .following_user .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.message_modal .following_user .mask img {
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1;
    filter: invert(100%);
}