.wrap_search{
    position: relative;
    width: 100%;
    min-height: calc(100vh - 10px);
    padding: 5px;
    box-sizing: border-box;
    background-color: white;

    border: 1px solid #DDDDDD;
}
.search_container{
    padding: 5px;
    margin-bottom: 5px;
    background-color: white;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
}
.wrap_search_keyword{
    width: 100%;
    padding: 5px;
    /* margin-bottom: 20px; */
    border-radius: 30px;
    /* margin: 10px; */

    border: 1px solid #DDDDDD;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    
    
}
.wrap_search_keyword .wrap_input{
    /* height: 50px; */
    /* padding: 5px; */
    
    box-sizing: border-box;
    
    /* padding: 10px; */
    display: flex;
    /* align-items: center; */

    
}
.wrap_search_keyword .wrap_input .input_search {
    flex: 1;
    /* margin: 5px; */
    /* height: 40px; */
    /* margin-bottom: 5px; */
    font-size: 1.2rem;
    padding: 10px 20px;
    box-sizing: border-box;
    /* border: 1px solid #DDDDDD; */
    border-radius: 25px 0 0 25px;
    /* word-break: break-all; */
    outline: none;
    overflow-x: hidden;
    display: flex;
    align-items: center;

    
}
.wrap_search_keyword .wrap_input button{
    width: 80px;
    font-size: 1rem;
    font-weight: bold;
    border: 1px solid #DDDDDD;
    border-radius: 25px
}

.input_search:hover {
    cursor: text;
}
.input_search:empty::before {
    content: attr(placeholder);
    color: #BBBBBB;
    font-weight: bold;
}


.recommend_keyword{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 5px;
    /* margin: 5px; */
    
    box-sizing: border-box;
    /* border: 1px solid #DDDDDD; */

    display: flex;
    flex-direction: column;
    
}
.recommend_keyword .keyword{
    padding: 5px 20px;
    font-size: 1.2rem;
    color: #BBBBBB;
    /* border: 1px solid black; */
    transition: all 0.1s;
}
.recommend_keyword .keyword:hover{
    /* background-color: #DDDDDD; */
    color: black;
    cursor: pointer;
}
.wrap_search .title{
    position: sticky;
    top: -5px;
    padding: 5px;
    box-sizing: border-box;
    z-index: 1;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 5px;
    /* border-bottom: 1px solid #DDDDDD; */
    background-color: white;
}
.wrap_search .recommend_people, .wrap_search .recommend_feed{
    width: 100%;
    padding: 5px;
    margin: 20px 0;
    box-sizing: border-box;
    /* border: 1px solid #DDDDDD; */
}
.wrap_search .result_people{
    width: 100%;
    padding: 5px;
    /* margin: 20px 0; */
    box-sizing: border-box;
    /* border: 1px solid #DDDDDD; */
}
#user{
    width: 100%;
    margin-bottom: 5px;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: white;

    display: flex;
    flex-direction: column;
    
    /* border: 1px solid black; */
}
#user .row{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #DDDDDD;
    /* border: 1px solid black; */

    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}
#user .row:last-child{
    border-bottom: 0;
}
#user .row .profileimg{
    /* flex: 1; */
    width: 100px;
    height: 100px;

}

#user .row .profileimg, #user .row .nickname {
    cursor: pointer;
}
#user .row .profileimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1;
    border-radius: 50%;
}
#user .row .nickname{
    flex: 1;
    font-size: 1.2rem;
    font-weight: bold;

    display: flex;
    justify-content: center;
    /* border: 1px solid black; */
}
#user .row .btn_follow{
    flex: 1;
    width: 100%;
    padding: 0 30px;
    display: flex;
    justify-content: center;

    /* border: 1px solid black; */
}
#user .row .btn_follow button{
    flex: 1;
    padding: 5px 15px;
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
    border: 3px solid black;
    border-radius: 5px;
    background-color: transparent;

    transition: all 0.1s;
}
#user .row .btn_follow button:hover{
    color: #BBBBBB;
    border: 3px solid #BBBBBB;
    /* transform: scale(0.98); */
    cursor: pointer;
}
#user .row .intro{
    flex: 1;
    font-size: 1rem;
    
    /* border: 1px solid black; */
}
#user .row .followings{
    flex: 1;
    font-size: 1rem;
    font-weight: bold;

    display: flex;
    justify-content: center;

    /* border: 1px solid black; */
}
#user .row .followers{
    flex: 1;
    font-size: 1rem;
    font-weight: bold;

    display: flex;
    justify-content: center;

    /* border: 1px solid black; */
}