.wrap_main .wrap_error {
    position: relative;
    top: 5px;
    width: 800px;
    height: calc(100vh - 10px);
    padding: 5px;
    border: 1px solid #DDDDDD;
    background-color: white;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrap_main .wrap_error .error_title {
    font-style: italic;
    text-shadow: 5px 10px 5px #5d5d5d6e;
}

.wrap_main .wrap_error .error_title h1,
.wrap_main .wrap_error .error_title h2{
    font-size: 50px;
    margin: 0;
}


.wrap_main .wrap_error .error_content {
    font-size: 20px;
    margin-top: 10%;
    padding: 50px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    box-shadow: inset 0 0 10px #5d5d5dc4;
    border-radius: 10px;
}



@media (max-width: 640px) {
    .wrap_main .wrap_error {
        width: 100%;
        min-width: 100%;
    }
}

/* 테블릿 */
@media (min-width: 641px) and (max-width: 720px) {}

@media (min-width: 721px) and (max-width: 950px) {}

@media (min-width: 951px) and (max-width: 1024px) {}

/* 데스크탑 */
@media (min-width: 1025px) {}