.post {
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    background-color: white;
    opacity: 0.97;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
}

.post .link {
    transition: all 0.1s;
}

.post .link:hover {
    transform: scale(0.95);
    cursor: pointer;
}

.post .content {
    width: 100%;
    box-sizing: border-box;
}

.post .content .input_content {
    width: 100%;
    min-height: 60px;
    font-size: 1rem;
    padding: 5px;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
}
.post .content .input_content::placeholder{
    font-size: 1.5rem;
}
.post .btn {
    width: 100%;
    padding: 10px 0;

    display: flex;
    align-items: center;
}

.post .btn button {
    width: 40px;
    height: 40px;
    padding: 3px;
    border: 1px solid transparent;
    margin: 0 5px;
    background-color: white;
}

.post .btn button .icon {
    width: 100%;
    height: 100%;
}

.post .btn .btn_post {
    margin-left: auto;
}

.outer {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 5px;
    margin: 0 5px;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;

}

.outer .inner {
    width: 90%;
    height: 90%;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
    font-size: 0.5rem;
    color: #BBBBBB;
}

.post .preview {
    width: 100%;
    margin-top: 5px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.post .preview .thumbnail_box {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post .preview .thumbnail_box .thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1;
}

.post .preview .thumbnail_box .overlay {
    position: absolute;
    width: 50%;
    height: 50%;
    filter: invert(100%) opacity(0.5);
    display: none;
}

.post .preview .thumbnail_box:hover .overlay {
    display: block;
}

.filter {
    width: 500px;
    box-sizing: border-box;
}

.filter .link {
    transition: all 0.1s;
}

.filter .link:hover {
    transform: scale(0.95);
    cursor: pointer;
}

.filter .img {
    position: relative;
    width: 100%;
    aspect-ratio: 1;
    box-sizing: border-box;
    overflow: hidden;
}

.filter .img img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1;
}



.filter .btn {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

.filter .btn button {
    width: 40px;
    height: 40px;
    padding: 3px;
    border: 1px solid transparent;
    margin: 0 5px;
    background-color: white;
}

.filter .btn .remove {
    margin-left: auto;
}

.filter .btn button .icon {
    width: 100%;
    height: 100%;
}

.filter #filter_preview {
    width: 100%;
    padding: 5px 0;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.filter #filter_preview img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1;
}

.overlay_modal {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(0, 0, 0, .5);

    display: flex;
    align-items: center;
}

.modal {
    position: relative;
    width: 500px;
    padding: 5px;
    margin: auto;
    border: 1px solid #DDDDDD;
    background-color: white;
}

.modal .close {
    width: 40px;
    height: 40px;
}

.tab {
    position: sticky;
    top: -5px;
    z-index: 2;
    width: 100%;
    height: 50px;
    padding: 5px;
    margin-bottom: 5px;
    background-color: white;
    opacity: 0.97;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;

    display: flex;

}

.tab .tab_col {
    flex: 1;
    margin: 0 20px;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;
}

.tab .selected_col {
    border-bottom: 2px solid #AAAAAA;
}

.tab .link {
    height: 100%;
    transition: all 0.1s;
    font-size: 1rem;
    font-weight: bold;
    border: 2px solid transparent;
    background-color: white;
}

.tab .link:hover {
    transform: scale(0.95);
    cursor: pointer;
    border-bottom: 2px solid #AAAAAA;
}

.tab .link .icon {
    width: 30px;
    height: 30px;
}

.wrap_feeds {
    width: 100%;
    padding: 5px;
    border: 1px solid #DDDDDD;
    background-color: white;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
}

.feed {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
}

.feed .link {
    transition: all 0.1s;
}

.feed .link:hover {
    transform: scale(0.95);
    cursor: pointer;
}

.feed .feed_head {
    width: 100%;
    margin-bottom: 5px;
    box-sizing: border-box;
    font-size: 1rem;

    display: flex;
    align-items: center;
}

.feed .feed_img {
    position: relative;


    display: flex;
    align-items: center;
}

.feed .feed_head .headlink_wrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

.feed .feed_head .profileimg {
    width: 35px;
    height: 35px;
    box-sizing: border-box;
}

.feed .feed_head .profileimg img {

    width: 100%;

    object-fit: cover;

    height: 100%;
    box-sizing: border-box;
    border-radius: 50%;
    border: 1px solid white;
    object-fit: cover;
}

.feed .feed_head .morebtn {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    transition: all 0.1s;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feed .feed_head .morebtn .icon {
    width: 35px;
    height: 35px;
    transition: all 0.1s;
}

.feed .feed_head .morebtn .icon:hover {
    transform: scale(0.85);
    background-color: #dddddd;
    border-radius: 50px;
}


.feed .feed_head .nickname {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0 5px;
}

.feed .feed_head .timestamp {
    margin-left: auto;
    margin-right: 5px;
    font-size: 0.8rem;
    color: #BBBBBB;
    font-style: oblique;
}

.feed .feed_img {
    position: relative;
    width: 100%;
    object-fit: cover;

    aspect-ratio: 1;
    display: inline-block;

}

.input_box .inputBtn {
    height: 100%;
    appearance: none;
    background-color: #DDDDDD;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    box-sizing: border-box;
    color: #9E9E9E;
    cursor: pointer;
    display: inline-block;
    /* font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
    font-size: 0.8em;
    font-weight: bold;
    /* line-height: normal; */
    margin-left: 5px;
    /* min-height: 20px; */
    /* min-width: 30px; */
    outline: none;
    padding: 5px 10px;
    /* text-align: center; */
    text-decoration: none;
    transition: all 0.1s;
    user-select: none;
    /* -webkit-user-select: none; */
    touch-action: manipulation;
    /* width: 50px; */
    /* will-change: transform; */
}

.input_box .inputBtn:disabled {
    pointer-events: none;
}

.input_box .inputBtn:hover {
    color: #fff;
    background-color: #727272;
    border: 1px solid black;
    transform: translateY(-2px);
    transform: scale(95%);
}

.input_box .inputBtn:active {
    box-shadow: none;
    transform: translateY(0);
}

.feed .feed_content {

    width: 100%;
    padding: 5px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;

}

.feed .feed_content .btn {
    width: 100%;
    box-sizing: border-box;

    display: flex;
    justify-content: flex-end;
}

.feed .toggle_content {
    appearance: none;
    background-color: white;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
    color: #BBBBBB;
}

.feed .feed_content:has(.toggle_content:checked) {
    white-space: wrap;
    word-break: break-all;
}

.feed .toggle_content::before {
    content: 'More'
}

.feed .toggle_content:checked::before {
    content: 'Close'
}

.feed .feed_icon {
    width: 100%;
    min-height: 30px;
    padding: 5px 0;
    box-sizing: border-box;


    display: flex;
}

.feed .feed_icon div {
    margin-right: 10px;

    display: flex;
    align-items: center;
}

.feed .feed_icon .bookmark {
    margin-left: auto;
    margin-right: 0;
}

.feed .feed_icon .icon {
    width: 35px;
    height: 35px;
    transition: all 0.1s;
}

.feed .feed_icon .icon:hover {
    cursor: pointer;
    transform: scale(0.95);
}

.feed .feed_reply {
    width: 100%;
    min-height: 0px;
    margin-top: 5px;
    box-sizing: border-box;
    border-top: 1px solid #DDDDDD;
    transition: 0.3s all !important;
    flex-direction: column;
    display: flex;

}

.feed .feed_reply .reply {
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #DDDDDD;


    display: flex;
}

.feed .feed_reply .reply .row_reply {
    display: flex;
    align-items: center;
    margin: 5px;
}



.feed .feed_reply .reply .row_reply .writer_img {
    width: 35px;
    height: 35px;
    box-sizing: border-box;
    border-radius: 50%;

}

.feed .feed_reply .reply .profile {
    transition: 0.1s all;
    cursor: pointer;
}

.feed .feed_reply .reply .profile:hover {
    transform: scale(0.95);
    cursor: pointer;
}

.feed .feed_reply .reply .content {
    flex: 1;
    padding-left: 5px;
    border-left: 1px solid #dddddd;
    word-break: break-all;
}

.feed .feed_reply .reply .timestamp {
    margin: 0 5px;
    font-size: 0.8rem;
    font-style: oblique;
    color: #BBBBBB;
}

.feed .feed_reply .reply .row_reply .icon {
    width: 25px;
    height: 25px;
    opacity: 0.2;
}

.feed .feed_reply .reply .row_reply .icon:hover {
    cursor: pointer;
    transform: scale(0.95);
}

.feed .input_box {
    width: 100%;
    margin-top: 5px;
    box-sizing: border-box;
    word-break: break-all;

    display: flex;
    flex-direction: column;
}

.feed .input_container {
    display: flex;
    flex-direction: row;
}

.feed .input {
    flex: 1;
    min-height: 32px;
    font-size: 1rem;
    padding: 5px;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
}

.feed .input_box .activeBtn {
    display: none;
}

.feed .input_box:focus-within>.activeBtn {
    display: flex;
}

.activeBtn {
    width: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
}

.activeBtn button {
    width: 40px;
    height: 40px;
    padding: 3px;
    border: 1px solid transparent;
    margin: 0 5px;
    background-color: white;
}

.activeBtn button .icon {
    width: 100%;
    height: 100%;
}


.activeBtn .outer {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 5px;
    margin: 0 5px;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
}

.activeBtn .outer .inner {
    width: 90%;
    height: 90%;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
    font-size: 0.5rem;
    color: #BBBBBB;
}


/*jb */

.emoji {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    margin-top: 5px;
}


.epr_-6npj90 {
    --epr-bg-color: #47474782 !important;
    --epr-category-label-bg-color: #f3f3f366 !important;
    --epr-text-color: #000000 !important;
    backdrop-filter: blur(3px) !important;
}


/* 모바일 */
@media (max-width: 640px) {
    .filter {
        width: 100%;
        box-sizing: border-box;
    }

    .modal {
        width: 100dvw;
    }
}