.wrap_header{
    position: sticky;
    top: 5px;
    width: 100%;
    height: calc(100vh - 10px);
    padding: 5px;
    border: 1px solid #DDDDDD;
    background-color: white;
    /* box-shadow: 0 0 20px #DDDDDD; */
    border-radius: 10px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
}
.wrap_header .link{
    transition: all 0.1s;
}
.wrap_header .link:hover{
    transform: scale(0.95);
    cursor: pointer;
}
.wrap_header .logo{
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}
.wrap_header .logo img{
    width: 50px;
}
.wrap_header .side_menu{
    width: 100%;
    height: 100%;
    padding: 5px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrap_header .side_menu .row{
    width: 100%;
    padding: 5px;

    display: flex;
    align-items: center;
}
.wrap_header .side_menu .row a{
    text-decoration: none;

    display: flex;
    align-items: center;
}
.wrap_header .side_menu .row button{
    width: 150px;
    height: 50px;
    border-radius: 25px;

    display: flex;
    align-items: center;
}
.wrap_header .side_menu .row .name{
    font-size: 1rem;
    font-weight: bold;
    color: black;
}
.wrap_header .side_menu .row button{
    border: 1px solid transparent;
    background-color: #DDDDDD;
}
.wrap_header .hamburger_menu{
    display: none;
}
.wrap_header .icon{
    width: 35px;
}
.wrap_header .btn_logout{
    margin-top: auto;
}

/* 모바일 */
@media (max-width: 640px){
    .wrap_header{
        height: auto;
        flex-direction: row;
        align-items: center;
    }
    .wrap_header .logo{
        justify-content: flex-start;
    }
    .wrap_header .side_menu{
        display: none;
    }
    .wrap_header .hamburger_menu{
        display: block;
    }
}

/* 테블릿 */
@media (min-width: 641px) and (max-width: 720px){
    .wrap_header .name{
        display: none;
    }
    .wrap_header .logo{
        display: flex;
        justify-content: center;
    }
    .wrap_header .side_menu .row{
        justify-content: center;
    }
    .wrap_header .side_menu .row a{
        width: 100%;
        justify-content: center;
    }
    .wrap_header .side_menu .row button{
        width: 50px;
    }
}
@media (min-width: 721px) and (max-width: 950px){
    .wrap_header .logo{
        display: flex;
        justify-content: flex-start;
    }
    .wrap_header .side_menu .row{
        justify-content: flex-start;
    }
    .wrap_header .side_menu .row a{
        width: 100%;
        margin-left: 10px;
        justify-content: flex-start;
    }
    .wrap_header .side_menu .row button{
        width: 150px;
    }
}
@media (min-width: 951px) and (max-width: 1024px){
    .wrap_header .name{
        display: none;
    }
    .wrap_header .logo{
        display: flex;
        justify-content: center;
    }
    .wrap_header .side_menu .row{
        justify-content: center;
    }
    .wrap_header .side_menu .row a{
        width: 100%;
        justify-content: center;
    }
    .wrap_header .side_menu .row button{
        width: 50px;
    }
}

/* 데스크탑 */
@media (min-width: 1025px){
    .wrap_header nav .row a{
        margin-left: 10px;
    }
}

/* 모바일 가로모드 */
@media (max-height: 450px){
    .wrap_header .logo{
        display: none;
    }
}