* {
    font-family:Helvetica, sans-serif !important;
}

body {
    width: calc(100dvw - 20px);
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #EEEEEE;

    display: flex;
    justify-content: center;
}

#root {
    position: relative;
    width: 100%;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
}

.wrap_main {
    position: relative;
    width: 100%;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.wrap_main header {
    position: sticky;
    top: 0;
    width: 100%;
    min-width: 100px;
    max-width: 200px;

    padding: 5px;
    box-sizing: border-box;
    transition: all 0.1s;
}

.wrap_main main {
    min-width: 500px;
    max-width: 500px;
    padding: 5px;
    box-sizing: border-box;
    transition: all 0.1s;
}

#aside {
    position: sticky;
    min-width: 300px;
    max-width: 300px;


    padding: 5px;
    padding-right: 20px;
    box-sizing: border-box;
    transition: all 0.1s;
}

.indicator {
    display: flex;
    align-items: center;
    margin: 5px 5px 0px 5px;
}
.indicator .limitLength{
    font-size: 13px;
    color: #8E8E8E;
}

/* 모바일 */
@media (max-width: 640px) {
    body {
        width: 100%;
    }

    .wrap_main {
        flex-direction: column;
        justify-content: flex-start;

    }

    .wrap_main header {
        position: relative;
        width: 100%;
        min-width: 100%;
        max-width: 100%;
    }

    .wrap_main main {
        width: 100%;
        min-width: 100%;
    }

    .wrap_main #aside {
        display: none;
    }
}

/* 테블릿 */
@media (min-width: 641px) and (max-width: 720px) {
    .wrap_main header {
        min-width: 60px;
        max-width: 100px;
    }

    .wrap_main #aside {
        display: none;
    }
}

@media (min-width: 721px) and (max-width: 950px) {
    .wrap_main header {
        max-width: 200px;
    }

    .wrap_main #aside {
        display: none;
    }
}

@media (min-width: 951px) and (max-width: 1024px) {
    .wrap_main header {
        min-width: 60px;
        max-width: 100px;
    }
}

/* 데스크탑 */
@media (min-width: 1025px) {}