.wrap_sub {
    width: 100%;
    padding: 5px;
    border: 1px solid #DDDDDD;
    background-color: white;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrap_sub footer {
    margin-top: auto;
    padding: 5px;
    border-top: 1px solid #DDDDDD;
    box-sizing: border-box;
}

.wrap_sub footer .wrap_footer {
    font-size: 0.8rem;
    color: #AAAAAA;
    padding: 5px;
    box-sizing: border-box;
}

.wrap_sub .search {
    position: sticky;
    z-index: 2;
    top: -5px;
    width: 100%;
    padding: 5px;
    padding-bottom: 10px;
    box-sizing: border-box;
    background-color: white;
    opacity: 0.97;

    display: flex;
    justify-content: center;
}

.wrap_sub .search input[type=text] {
    flex: 1;
    padding: 10px;
    font-weight: bold;
    font-size: 1em;
    border: 1px solid #DDDDDD;
    border-radius: 20px;
}

.wrap_sub .search button {
    padding: 10px;
    font-weight: bold;
    border: 1px solid #DDDDDD;
    border-left: 0;
    border-radius: 0 20px 20px 0;
}

.wrap_sub .wrap_relevant_people,
.wrap_sub .wrap_recommend_people,
.wrap_sub .wrap_recommend_feed,
.wrap_sub .wrap_recommend_follow {
    width: 100%;
    margin: 20px 0;
}

.wrap_sub .title {
    width: 100%;
    margin-bottom: 5px;
    font-size: 1.5em;
    font-weight: bold;

    display: flex;
    justify-content: center;

    border-bottom: 1px solid #DDDDDD;
}

.wrap_sub .relevant_people,
.wrap_sub .recommend_people,
.wrap_sub .recommend_feed,
.wrap_sub .recommend_follow {
    width: 100%;
}

.user_summary {
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
    border-radius: 3px;

    display: flex;
    align-items: center;

    border: 1px solid #DDDDDD;
}

.user_summary .profileimg:hover,
.user_summary .nickname:hover {
    transform: scale(0.95);
}

.user_summary .profileimg {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.user_summary .profileimg img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 50%;
}

.user_summary .nickname {
    position: relative;
    flex: 1;
    font-size: 1rem;
    font-weight: bold;

    display: flex;
    justify-content: center;

    cursor: pointer;
}

.user_summary .btn_follow {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;

}

.user_summary .btn_follow button {
    flex: 1;
    padding: 5px 15px;
    font-size: 0.8rem;
    font-weight: bold;
    color: black;
    border: 3px solid black;
    border-radius: 5px;
    background-color: transparent;

    transition: all 0.1s;
}

.user_summary .btn_follow button:hover {
    color: #BBBBBB;
    border: 3px solid #BBBBBB;
    cursor: pointer;
}