.box{
    width: 300px;
    height: 100vh;

    border: 1px solid black;

    display: flex;
    flex-direction: column;
}
.box .row{
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    /* border: 1px solid red; */

    display: flex;
    flex-direction: row;
}
.box .row .message{
    width: 90%;
    padding: 5px;
    font-size: 1rem;
    /* text-overflow:ellipsis; */
    word-break:break-all;

    border: 1px solid blue;
    border-radius: 5px;
}
.box .recieved{
    justify-content: flex-start;
}
.box .sent{
    justify-content: flex-end;
}
.box .row .recieved_msg{
    background-color: white;
}
.box .row .sent_msg{
    background-color: yellow;
}